<%= render partial: 'shared/nav', locals: {title:'CATEGORY', symbol:'â†', url: user_groups_path}%>

<%= form_with model: group, url: user_groups_path, local: true, multipart: true  do |form| %>  
  <div class="category_form">
    <h3 > Add New Category </h3>
      <div class="form_div">
      <% form.label :name  %>
      <%= form.text_field :name, placeholder: "Category Name", class: "login-field"%>
      <% form.object.errors.full_messages_for(:name).each do |message|%>
      <div><%= message %></div>
      <%end%>
    </div>
      <br>
     <div class="form_diva">
    <%= form.label :icon, 'Chose icon:', class: 'labela' %><br>
      <%= form.file_field :icon, class: "chose-icon" %>
        <% form.object.errors.full_messages_for(:icon).each do |message|%>
        <div><%= message %></div>
        <%end%>
     </div>
     <br>
      <%= form.submit "Create Category", class:"category_button"%>
    </div>
<%end%>