<%= render partial: 'shared/nav', locals: {title:'TRANSACTION', symbol:'â†', url: :back}%>

<section class="">
  <p class="text-center mb-2"><%= notice %></p>
  <%= render 'shared/detail', group:@group%>
 
  <% @group.expenses.order(created_at: :desc).each do |g| %>
    <div class="transact_card">
    <h4>TRANSACTION NO: <%= g.id%> </h4>
      <ul class="group_card_detail-inner">
        <li class=""><%= g.name.capitalize %></li>
        
        <li>$<%= g.amount %></li>
         </ul>
         <div><%= g.created_at.strftime("%d %b %Y") %></div>
    </div>
   <% end %> 
<%= button_to 'ADD TRANSACTION', new_user_group_expense_path(user_id: group.user.id, group_id: group.id), method: :get, class: 'category_button fixed-bottom' %>
</section>